


a > span{
    cursor: pointer;
    color: grey;
}

a > span:hover {
    color: red;
}



.user__avatar {
    font-size: 2rem;
}

.custom-navbar {
    background-color: black; 
    color: #ffffff; 
  }